addons/*
custom/*
cfg/sourcemod/*
materials/temp/*
sound/temp/*
cfg/config.cfg
demoheader.tmp
modelsounds.cache
*.ain
*.dat
bin/server.pdb
cfg/config.cfg
cfg/server_blacklist.txt
cfg/botrix.cfg
cfg/mapcycle.txt
cfg/server.cfg
cfg/motd.txt
cfg/motd_text.txt
cfg/banned_user.cfg
cfg/banned_ip.cfg
user_custom/*
sound/sound.cache
cfg/autoexec.cfg
