*.ain
*.dat
addons/*
bin/server.pdb
cfg/autoexec.cfg
cfg/banned_ip.cfg
cfg/banned_user.cfg
cfg/botrix.cfg
cfg/config.cfg
cfg/mapcycle.txt
cfg/motd.txt
cfg/motd_text.txt
cfg/server.cfg
cfg/server_blacklist.txt
cfg/sourcemod/*
custom/*
demoheader.tmp
desktop.ini
download/*
mapsrc/*.bsp
mapsrc/*.log
mapsrc/*.vmx
mapsrc/*.prt
mapsrc/alphablaster/*.bsp
mapsrc/alphablaster/*.log
mapsrc/alphablaster/*.vmx
mapsrc/alphablaster/*.prt

materials/temp/*
modelsounds.cache
sound/sound.cache
sound/temp/*
user_custom/*
*.backup
